<h1>Productos</h1>
<div class="row">
    <div class="input-group w-75 pd-20">
        <h5 class="mr-5">Buscar Producto</h5>
        <div class="input-group mb-3 col-md-6">
            <input #productName type="search"  [(ngModel)]="search" class="form-control" placeholder="Ingrese el producto a buscar"
                aria-label="Ingrese el producto a buscar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="filtrar(productName.value); productName.value=''"
                    type="button">Buscar</button>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg w-10" (click)="add()">{{buttonName}}</button>
    </div>
</div>
<div *ngIf="newProduct" class="col-md-6">
    <app-form-product [type]="'create'"></app-form-product>
</div>


<div class="row">
    <div class="card-deck w-25 pd-20" *ngFor="let p of productService.allProducts | filtro : search">
        <div class="card" >
            <img class="card-img-top" src="./assets/producto4.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{p.id}} - {{p.nombre}}</h5>
                <p class="card-text"> Quedan {{p.stock}} en stock</p>
                <p class="card-text"> ${{p.costo | number}}</p>
                <p class="card-text green" *ngIf="p.estado">Disponible</p>
                <p class="card-text red" *ngIf="!p.estado">No Disponible</p>
                <div class="text-right">
                    <svg routerLink="/detail/{{p.id}}" class="bi bi-eye mr-4" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z" clip-rule="evenodd"/>
                    </svg>
                    <svg (click)="delete(p.id);" class="bi bi-trash" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>